#main-container {
    background-color: lightblue;
    width: 327px;
    height: 400px;
    margin: 10% auto;
    padding-top: 2%;
    border-radius: 3%;
    box-shadow: 5px 5px;
}

#screen {
    background-color: lightgreen;
    width: 85%;
    height: 45px;
    margin: auto;
    font-size: 250%;
    text-align: right;
    padding-right: 2%;
}

#buttons {
    width: 81%;
    text-align: center;
    margin: 5% auto;
    font-size: 260%;
}

.button {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 8px;
    box-shadow: 3px 3px;
    text-align: center;
}
